nav
    *
        text-transform: uppercase
        text-decoration: none
        font-style: italic
        font-size: 1.5rem
        color: #e50086!important
    a
        padding: 8px
    .active
        color: #fc8f00!important
    .dropdown
        height: 3rem
    .dropdown:hover .dropdown-menu
        display: block
        position: absolute
        top: 100%
    .dropdown-menu
        background: linear-gradient(#fc8f00, #e50086)
        a
            color: white!important